/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Poppins:wght@300;400;500&display=swap');

/* Responsiveness - media queries and default container */
.container {
  width: 800px;
  margin: 50px auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

/* Banner */
.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 120px 0;
  text-shadow: 2px 2px 2px rgba(10, 10, 10, 0.3);
}

.banner p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}

.banner h1 {
  font-size: 38px
}

/* Article Body */
h1, h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

h2 {
  color: #A0A0A0;
  font-weight: normal;
}

body {
  color: #494949;
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  margin: 0;
}

/* Links */
a {
  text-decoration: none;
}

.link-medium {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

.link-medium:hover {
    background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}
